[defaults]
inventory = ./hosts.ini
remote_user = alex
log_path = ansible.log
interpreter_python = auto_silent
display_skipped_hosts = no
display_ok_hosts = yes
become_password_file = ./.get-become-pass.sh
timeout = 60
[privilege_escalation]
become_timeout = 60
[ssh_connection]
pipelining = True
