# {{ ansible_managed }}
source_directories:
  - /home
  - /etc
  - /root
  - /var/log
repositories:
    - path: '{{ remote_borg_repo_path }}'
      label: "remote"
exclude_if_present:
  - .nobackup
exclude_patterns:
  - 'sh:**/.local/share/containers'
  - /root/.cache/borg
  - /root/.config/borg
  - /var/log/journal
compression: lz4
encryption_passphrase: '{{ borg_passphrase }}'
archive_name_format: '{hostname}-{now:%Y-%m-%d-%H%M%S}'
read_special: true
retries: 5
retry_wait: 5
keep_within: 10d
keep_daily: 5
keep_weekly: 4
keep_monthly: 3
keep_yearly: 2
